/* CSS for mobile browsers */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* //animating background */
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

ul#shape {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

ul#shape li {
  position: absolute;
  display: block;
  list-style: none;
  width: 40px;
  background-color: #e2bfc4;
  bottom: -200px;

  animation: floating 10s infinite linear;
}

ul#shape li:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 25%;
  animation-delay: 0.1s;
}

ul#shape li:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 95%;
  animation-delay: 10s;
}

ul#shape li:nth-child(3) {
  width: 70px;
  height: 70px;
  left: 75%;
  animation-delay: 18s;
}

ul#shape li:nth-child(4) {
  width: 30px;
  height: 30px;
  left: 10%;
  animation-delay: 5s;
}

ul#shape li:nth-child(5) {
  width: 40px;
  height: 40px;
  left: 60%;
  animation-delay: 8s;
}

ul#shape li:nth-child(6) {
  width: 90px;
  height: 90px;
  left: 84%;
  animation-delay: 1s;
}

ul#shape li:nth-child(7) {
  width: 50px;
  height: 50px;
  left: 50%;
  animation-delay: 15s;
}

ul#shape li:nth-child(8) {
  width: 100px;
  height: 100px;
  left: 40%;
  animation-delay: 6s;
}

ul#shape li:nth-child(9) {
  width: 75px;
  height: 75px;
  left: 70%;
  animation-delay: 3s;
}
ul#shape li:nth-child(10) {
  width: 40px;
  height: 40px;
  left: 30%;
  animation-delay: 14s;
}

@keyframes floating {
  from {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  to {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 80%;
  }
}



body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(226, 226, 226);
  height: 100vh;
  overflow: hidden;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.center h1 {
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 1px solid #adadad;
  margin: 20px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s;
}

.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #ce4257;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #ce4257;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
  font-size: 14px;
}

.pass:hover {
  text-decoration: underline;
}

input[type="submit"] {
  width: 100%;
  height: 40px;
  border: 1px solid;
  background: #ce4257;
  border-radius: 25px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  border-color: #ce4257;
  transition: 0.3s;
}

/* Signup Link */
.signup_link {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  color: #666666;
}

.signup_link a {
  color: #ce4257;
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}

/* Login link */
.login_link {
  margin-bottom: 30px;
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  color: #666666;
}

.login_link a {
  color: #ce4257;
  text-decoration: none;
}

.login_link a:hover {
  text-decoration: underline;
}

/* Alert box */
.alert {
  display: none;
  padding: 5px 5px;
  margin-bottom: 10px;
  background-color: rgb(98, 206, 65);
  color: white;
  border-radius: 5px;
}
/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(220, 219, 219);
  color: white;
  height: 50px;
}

.footer_container {
  display: flex;
}

.footer_container p {
  float: left;
  padding-top: 18px;
  padding-left: 50px;
  color: black;
}

.footer_container img {
  float: left;
  padding-top: 2px;
  padding-left: 10px;
}
