/* CSS for mobile browsers */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  font-size: 14px;
  /* background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%); */
  padding-right: 10px;
  padding-left: 10px;
}

.main-nav {
  list-style-type: none;
}

.nav-links,
.logo {
  text-decoration: none;
  /* color: rgba(255, 255, 255, 255, 0.7); */
  color: black;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.main-nav a:hover {
  border-bottom: 3px solid #ce4257;
}

.main-nav a.active {
  color: #ce4257;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar a:hover {
  color: #ce4257;
}

/* navbar reposition */
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 22px;
}

/* enable nav toggle menu */
.main-nav {
  list-style-type: none;
  display: none;
}

.active {
  display: block;
}

/* adding media queries for desktop browsers */
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
  }
  .logo {
    margin-top: 0;
  }
  .navbar-toggle {
    display: none;
  }
  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  } 
}


form {
  background-image: url("Carpool.app/DriverRoute.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.DriverRouteImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-group {
  position: relative;
  display: flex;
  margin-right: 10px;
  margin-top: 350px;
  margin-bottom: 70px;
  align-items: center;
  justify-content: center;
  outline: 1px gray;
}

#leaving-from {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 10px;
}

#going-to {
  padding: 10px;
}

#datetime {
  padding: 10px;
}

#passenger-count {
  padding: 10px;
}

#search {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #800020;
  color: white;
  padding: 10px;
}

.input-with-icon {
  position: relative;
  display: inline-block;
}

.input-with-icon input[type="number"] {
  padding-left: 25px; 
}

.input-with-icon i.fa-user {
  position: absolute;
  top: 50%;
  left: 40px; 
  transform: translateY(-50%);
  pointer-events: none;
}

input,
button {
  margin-right: none;
}

.passenger-input {
  display: flex;
  align-items: center;
}

.passenger-input input {
  margin-right: none;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  text-align: center;
  margin-right: 130px;
  margin-left: 130px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 10px;
  background-color: white;
  color: black;
}

/* Media query for mobile */
@media (max-width: 767px) {
  .info {
    height: auto;
    padding: 20px;
  }
}



.footer {
  background-color: #ccc;
  color: black;
  padding: 10px;
  text-align: left;
}

.SAPlogo {
  width: 33px;
  max-width: none;
  height: auto;
  margin-left: 5px;
}