/* CSS for mobile browsers */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.navbar {
  font-size: 14px;
  /* background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%); */
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.main-nav {
  list-style-type: none;
}
.nav-links,
.logo {
  text-decoration: none;
  /* color: rgba(255, 255, 255, 255, 0.7); */
  color: black;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.main-nav a:hover {
  border-bottom: 3px solid #ce4257;
}

.main-nav a.active {
  color: #ce4257;
}
.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar a:hover {
  color: #ce4257;
}

/* navbar reposition */
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 22px;
}

/* enable nav toggle menu */
.main-nav {
  list-style-type: none;
  display: none;
}

.active {
  display: block;
}

/* adding media queries for desktop browsers */
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
  body {
    box-sizing: inherit;
    padding-bottom: 5rem;
  }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
  }
  .logo {
    margin-top: 0;
  }
  .navbar-toggle {
    display: none;
  }
  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}

/* Card Designs */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins */
.row {
  margin: 0 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  border-radius: 3%;
  border: 1px solid #ce4257;
  padding: 16px;
  text-align: center;
}

.container h1 {
  text-align: center;
}

.title-card {
  padding-top: 50px;
  padding-bottom: 50px;
}

.card h3 {
  padding: 10px 0 10px 0;
}

.card h4 {
  padding: 0 0 10px 0;
}

/* Footer */

main {
  margin: 0 auto;
  padding: 10px 20px;
  min-height: calc(100vh - 679.5px - 59px);
}

footer {
  text-align: center;
  background-color: #e7e7e7;
  padding: 15px;
}
