body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(226, 226, 226);
  height: 100vh;
  overflow: hidden;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:550px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.center h1 {
  text-align: center;
  padding: 0 0 2px 0;
}

.center p {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 1px solid #adadad;
  margin: 30px 0;
}

form .txt_field_text {
  position: relative;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field_text input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s;
}

.txt_field_text label {
  position: absolute;
  top: 15%;
  left: 10px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s;
}

.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

input[type="submit"] {
  width: 100%;
  height: 40px;
  border: 1px solid;
  background: #ce4257;
  border-radius: 25px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  border-color: #ce4257;
  transition: 0.3s;
}

.freeform {
  box-sizing: border-box;
  border: 1px solid #ce4257;
  background-color: #f8f8f8;
  resize: none;
}

.blank {
  margin: 70px 0;
}

.txt_field_text .freeform {
  border-radius: 7px;
}
